body{
  background-color: black;
}
p{
  color: white; 
  font-family:Helvetica;
  font-size: 20px;
}
#inicio{
  color: rgb(0, 0, 0);
  background-color: #4d4d4d;
  padding: 20px;
  border-bottom: 2px #ccc;
  text-align: center;
  font-size: 35px;
}
h2{
  color: white;;
}
body, html {
  height: 0;
  margin: 0;
}
img{
  text-align: center; ;
}
h3{
  color: #1343b4;
}
h1{
color: #b20101;
}
h2{
  color: #ffffff;
}